<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jojo.dal.common.postgre.AttachMgrMapper">
	<!-- <resultMap type="com.huifu.esper.scp.model.ScpRuleTag" id="RuleTagResultMap"> <result column="ID" property="id"/> <result
		column="BIZ_TYPE" property="bizType" /> <result column="CREATE_TIME" property="createTime" /> <result column="CREATE_OPER_ID"
		property="createOperId" /> <result column="LIMIT_DESC" property="limitDesc" /> <result column="STATUS" property="status"
		/> <result column="UPDATE_TIME" property="updateTime" /> <result column="LAST_UPDATE_OPER_ID" property="lastUpdateOperId"
		/> </resultMap> -->
		<!-- javaType="String" jdbcType="VARCHAR"  javaType="byte[]" jdbcType="BLOB"  typeHandler="org.apache.ibatis.type.BlobTypeHandler" /> -->
	<resultMap type="com.jojo.dal.common.postgre.domain.AttachDO" id="attachResultMap">
		<id property="attachId" column="ATTACH_ID" />
		<result property="attachContent" column="ATTACH_CONTENT" />

	</resultMap>
	<!-- , ATTACH_CONTENT  -->
	<select id="download" parameterType="java.util.Map" resultMap="attachResultMap">
		SELECT ATTACH_ID , ATTACH_CONTENT    FROM JOJO_ATTACH
		WHERE ATTACH_ID = #{attachId}
	</select>

</mapper>