<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jojo.dal.common.postgre.MaterialApplyMapper" >
	<resultMap type="com.jojo.dal.common.postgre.domain.MaterialApplyDO" id="materialApplyResultMap">
		<id property="theId" column="T_ID" />
		<result property="theName" column="T_TITLE" />
		<result property="status" column="T_STATUS" />
		<result property="statusDsc" column="T_STATUS_DSC" />

		<result property="theRemark" column="T_REMARK" />
		<result property="crtUserId" column="CRT_USR" />
		<result property="crtUserName" column="CRT_USR_NAME" />
		<result property="crtTime" column="CRT_TIME" />
		<result property="updUserId" column="UPD_USR" />
		<result property="updUserName" column="UPD_USR_NAME" />
		<result property="updTime" column="UPD_TIME" />

	</resultMap>


	<insert id="insert" parameterType="com.jojo.dal.common.postgre.domain.MaterialApplyDO" >
		INSERT INTO jojo_mtr_apply(
		t_id, t_title, t_status, t_status_dsc, t_remark,
		crt_usr, crt_time,
		crt_usr_name, upd_usr,
		upd_time, upd_usr_name)
		VALUES (#{theId}, #{theName}, #{status}, #{statusDsc},
		#{theRemark}, #{crtUserId},
		#{crtUserName}, #{crtTime}, #{updUserId}, #{updUserName}, #{updTime})
	</insert>

	<update id="update" parameterType="java.util.Map">
		update jojo_mtr_apply
		set
		upd_time = #{updTime}
		<if test="theName != null and theName != ''">
			,t_title = #{theName}
		</if>
		<if test="status != null and status != ''">
			, t_status = #{status}
		</if>
		<if test="statusDsc != null and statusDsc != ''">
			, t_status_dsc = #{statusDsc}
		</if>
		<if test="theRemark != null and theRemark != ''">
			, t_remark = #{theRemark}
		</if>
		<if test="updUserId != null and updUserId != ''">
			, upd_usr = #{updUserId}
		</if>
		<if test="updUserName != null and updUserName != ''">
			, upd_usr_name = #{updUserName}
		</if>
		where 1=1
		and t_id = #{theId}
	</update>

	<delete id="delete" parameterType="java.util.Map">
		delete from jojo_mtr_apply where t_id = #{theId}
	</delete>

	<select id="select" parameterType="java.util.Map" resultMap="materialApplyResultMap">
		SELECT T.* FROM jojo_mtr_apply T WHERE T.T_ID = #{id}
	</select>

	<select id="queryPage" parameterType="java.util.Map" resultMap="materialApplyResultMap">
		SELECT T.* FROM jojo_mtr_apply T WHERE 1=1
		<if test="theId != null and theId != ''">
			AND T.T_ID = #{id}
		</if>
		<if test="status != null and status != ''">
			AND T.t_status = #{status}
		</if>
		<if test="theName != null and theName != ''">
			AND T.t_title like '%${theName}%'
		</if>
		limit ${limitPage} offset ${offset}
	</select>

</mapper>