<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jojo.dal.common.postgre.UserMapper">
	<resultMap type="com.jojo.dal.common.postgre.domain.UserDO" id="simpleUserResultMap">
		<id property="theId" column="T_ID" />
		<result property="theName" column="T_NAME" />

		<result property="usrId" column="T_USRID" />
		<result property="status" column="T_STATUS" />
		<result property="sex" column="T_SEX" />
		<result property="email" column="T_EMAIL" />
		<result property="tel" column="T_TEL" />
		<result property="mobile" column="T_MOBILE" />
		<result property="pwd" column="T_PWD" />

		<result property="theRemark" column="T_REMARK" />
		<result property="crtUserId" column="CRT_USR" />
		<result property="crtUserName" column="CRT_USR_NAME" />
		<result property="crtTimestamp" column="CRT_TIME" typeHandler="org.apache.ibatis.type.SqlTimestampTypeHandler"/>
		<result property="updUserId" column="UPD_USR" />
		<result property="updUserName" column="UPD_USR_NAME" />
		<result property="updTimestamp" column="UPD_TIME" typeHandler="org.apache.ibatis.type.SqlTimestampTypeHandler"/>

	</resultMap>


	<!-- 部门用户列表查询 -->
	<select id="queryUsers" parameterType="java.util.Map" resultMap="simpleUserResultMap">
		SELECT
		T.*
		FROM JOJO_USR T
		WHERE 1=1
		<if test="userName != null and userName != ''">
			AND T.T_NAME like  '${userName}%'
		</if>
	</select>
</mapper>