<?xml version="1.0"  encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<bean id="byPassOtherFilter" class="com.huifu.esper.webapp.common.filter.ByPassOtherFilter">
		<property name="byPassStaticsSet">
			<set>
				<value>scripts</value>
				<value>styles</value>
				<value>statics</value>
			</set>
		</property>
		<property name="byPassControllerSet">
			<set>
				<value>visitWeb.html</value>
				<value>visitWebDb.jsp</value>
			</set>
		</property>
	</bean>

</beans>
