.pop {
	position: absolute;
	border: 6px solid #ccc;
	top: 0px;
	left: 0px;
	background-color: #fff;
	display: none;
	height: 560px;
	min-width: 420px;
	overflow: scroll;
}

.pop-hd {
	position: relative;
}

.tip-close {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(/scppun/images/box-close.png) -2px 0;
	display: block;
	width: 15px;
	height: 15px;
	overflow: hidden
}

.tip-close:hover {
	background-position: -2px -20px
}

.tabs-on {
	background: none;
	background-image: none;
	border-bottom: #fff 1px solid;
	padding-right: 0;
	font-weight: bold;
}

.tab-item {
	padding: 6px 12px;
}

.pop-rule-items td{
	padding: 4px 12px;
	border: 1px solid #ddd;
}

.rule-items li {
	width: 100%;
	clear: both;
}

#ruleItems td {
	padding: 1px;
	position: relative;
}

#ruleItems input,#ruleItems select {
	padding: 2px;
}

.rule-item-operator {
	float: right;
}