<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!-- Set INFO to WARN for warning-level logging, or DEBUG for debug-level logging. -->

	<!-- Output to terminal by default. -->
	<appender name="terminal" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss_SSS}] %-5p %c [%l] %m%n" />
		</layout>
	</appender>

	<!-- Optional: asynchronous file output (set <appender-ref ref="asynch-file"/> in root below). -->
	<appender name="asynch-file" class="org.apache.log4j.AsyncAppender">
		<param name="locationInfo" value="false" />
		<appender-ref ref="out-file" />
	</appender>

	<!-- print log day by day. -->
	<appender name="JOJO_Daily_LOG2File" class="org.apache.log4j.AsyncAppender">
		<param name="locationInfo" value="false" />
		<param name="BufferSize" value="512" />
		<appender-ref ref="JOJO_Daily_LOG" />
	</appender>

	<!-- Optional: asynchronous file location (set <appender-ref ref="asynch-file"/> in root below). -->
	<appender name="out-file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="../logs/jojo-service.log" />
		<param name="Append" value="true" />
		<!-- immediately write into log file, if 'true' -->
		<param name="ImmediateFlush" value="false" />
		<param name="encoding" value="UTF-8" />
		<param name="maxBackupIndex" value="200" />
		<param name="MaxFileSize" value="20MB" />
		<!-- <param name="datePattern" value="'.'yyyy-MM-dd HH:mm:ss_SSS"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<!-- %d{ABSOLUTE} -->
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss_SSS}] [%l] %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	<!-- daily log -->
	<appender name="JOJO_Daily_LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../logs/jojo-service-daily.log" />
		<param name="Append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss_SSS}] [%l] %-5p [%c{1}] %m%n" />
		</layout>
	</appender>


	<logger name="com.espertech.esper">
		<level value="OFF" />
	</logger>



	<root>
		<level value="INFO" />
		<appender-ref ref="terminal" />
		<appender-ref ref="JOJO_Daily_LOG2File" />
		<!-- <appender-ref ref="asynch-file" /> -->

		<!-- Comment-in this line to output to a log file instead of the terminal. Comment out "terminal" above as well. <appender-ref
			ref="asynch-file"/> -->
	</root>
</log4j:configuration>
